<div class="dashboard" >Dash
  <div class="dash-row"><img src="images/home.png" ></div>
  <div class="dash-row"><img src="images/settings.png" ></div>
  <div class="dash-row"><img src="images/admin.png" ></div>
  <div class="dash-row"><img src="images/wifi.png" ></div>
</div>